name: Release

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version (e.g., v1.2.3)'
        required: true
        default: 'v1.0.0'

env:
  CARGO_TERM_COLOR: always

jobs:
  linux-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y clang libavcodec-dev libavformat-dev libavutil-dev pkg-config nasm

      - name: Build Static
        run: cargo build --release --locked --features ffmpeg-build

      - name: Zip Static binary
        run: zip -j mux-media-linux-x64.zip target/release/mux-media

      - uses: actions/upload-artifact@v4
        with:
          name: mux-media-linux-x64
          path: mux-media-linux-x64.zip

  macos-build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: brew install pkg-config ffmpeg

      - name: Build Static
        run: cargo build --release --locked --features ffmpeg-build

      - name: Zip Static binary
        run: zip -j mux-media-macos-arm64.zip target/release/mux-media

      - uses: actions/upload-artifact@v4
        with:
          name: mux-media-macos-arm64
          path: mux-media-macos-arm64.zip

  release:
    name: Create GitHub Release
    runs-on: ubuntu-latest
    needs: [linux-build, macos-build]

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: mux-media-linux-x64
          path: artifacts

      - uses: actions/download-artifact@v4
        with:
          name: mux-media-macos-arm64
          path: artifacts

      - name: Set tag name
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "RELEASE_TAG=${{ github.event.inputs.version }}" >> $GITHUB_ENV
          else
            echo "RELEASE_TAG=${{ github.ref_name }}" >> $GITHUB_ENV
          fi

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.RELEASE_TAG }}
          files: artifacts/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
