name: Cargo Build & Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: run
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        include:
          # Linux
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - os: ubuntu-latest
            target: i686-unknown-linux-gnu

          # Windows
          - os: windows-latest
            target: x86_64-pc-windows-msvc
          - os: windows-latest
            target: i686-pc-windows-msvc

          # macOS
          - os: macos-latest
            target: x86_64-apple-darwin
          - os: macos-latest
            target: aarch64-apple-darwin

    steps:
      - uses: actions/checkout@v4

      - name: Install mkvtoolnix & FFmpeg (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y mkvtoolnix ffmpeg

      - name: Install mkvtoolnix (Windows)
        if: matrix.os == 'windows-latest'
        shell: pwsh
        run: |
          choco install mkvtoolnix -y
          "C:\Program Files\MKVToolNix" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Install FFmpeg (Windows 64-bit)
        if: matrix.target == 'x86_64-pc-windows-msvc'
        shell: pwsh
        run: |
          $url = "https://www.gyan.dev/ffmpeg/builds/ffmpeg-git-full.7z"
          $archive = "$env:RUNNER_TEMP\\ffmpeg.7z"
          $extractPath = "$env:RUNNER_TEMP\\ffmpeg"

          Invoke-WebRequest -Uri $url -OutFile $archive

          if (-Not (Test-Path $extractPath)) {
            New-Item -ItemType Directory -Path $extractPath | Out-Null
          }

          7z x $archive "-o$extractPath" -y

          Write-Host "Contents of ${extractPath}:"
          Get-ChildItem $extractPath | ForEach-Object { Write-Host $_.Name }

          $ffmpegDir = Get-ChildItem $extractPath |
            Where-Object {
              $_.PSIsContainer -and $_.Name -like "ffmpeg*"
            } |
            Select-Object -First 1

          if (-not $ffmpegDir) {
            Write-Error "FFmpeg folder not found in $extractPath"
            exit 1
          }

          $binPath = Join-Path $ffmpegDir.FullName "bin"
          Write-Host "Adding ffmpeg/ffprobe bin path: $binPath"
          echo $binPath | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Install FFmpeg (Windows 32-bit)
        if: matrix.target == 'i686-pc-windows-msvc'
        shell: powershell
        run: choco install ffmpeg -y

      - name: Install mkvtoolnix & FFmpeg (macOS)
        if: matrix.os == 'macos-latest'
        run: brew install mkvtoolnix ffmpeg

      - name: Check installed mkvtoolnix & FFmpeg
        run: |
          mkvmerge -V
          ffmpeg -h
          ffprobe -h

      - name: Install 32-bit dependencies (Linux)
        if: matrix.target == 'i686-unknown-linux-gnu'
        run: sudo apt-get install -y gcc-multilib

      - name: Update Rust
        run: rustup update stable && rustup default stable

      - name: Install Rust target
        run: rustup target add ${{ matrix.target }}

      - name: Build
        run: cargo build --verbose --target ${{ matrix.target }}

      - name: Test
        run: cargo test --verbose --target ${{ matrix.target }}

      - name: Build Release
        run: cargo build --verbose --release --target ${{ matrix.target }}

      - name: Test Release
        run: cargo test --verbose --release --target ${{ matrix.target }}

      - name: Build with_embedded_bins
        if: matrix.target == 'x86_64-pc-windows-msvc'
        run: cargo build --verbose --features with_embedded_bins --target ${{ matrix.target }}

      - name: Test with_embedded_bins
        if: matrix.target == 'x86_64-pc-windows-msvc'
        run: cargo test --verbose --features with_embedded_bins --target ${{ matrix.target }}

      - name: Build Release with_embedded_bins
        if: matrix.target == 'x86_64-pc-windows-msvc'
        run: cargo build --verbose --release --features with_embedded_bins --target ${{ matrix.target }}

      - name: Test Release with_embedded_bins
        if: matrix.target == 'x86_64-pc-windows-msvc'
        run: cargo test --verbose --release --features with_embedded_bins --target ${{ matrix.target }}
